{% extends 'base.html' %}

{% block title %}主页{% endblock %}

{% block style %}
    <style>
        .header {
            background: url("../static/images/background.jpg");
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
    <header class="header mb-3" style="height: 120px;width: 100%">
        <h1 class="text-xl-center">留言板</h1>
    </header>
    <div class="">
    <form method="post">
        {{ form.csrf_token }}
        {{ form.body.label(class="text-left") }} </br>
        {{ form.body(class="input-group-text",style="width: 100%") }} </br>
        {% for error in form.body.errors %}
            <small class="text-danger">{{ error }}</small> </br>
        {% endfor %}
        {{ form.name.label(class="text-left") }} </br>
        {{ form.name(class="input-group-text",style="width: 100%") }} </br>
        {% for error in form.name.errors %}
            <small class="text-danger">{{ error }}</small> </br>
        {% endfor %}
        {{ form.submit(class="btn btn-info mb-3",style="width: 100%") }}
    </form>
    </div>

    <div>
        <ul class="list-group">
            {% for msg in messages %}
                <li class="list-group-item" data-toggle="tooltip" data-placement="right"
                    title="发言时间：{{ msg.timestamp  }}"><strong>{{ msg.name }}</strong>：{{ msg.body }}</li>
            {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}