[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
wtforms = "*"
flask-moment = "*"
pymysql = "*"
flask-bootstrap = "*"
flask-ckeditor = "*"

[requires]
python_version = "3.5"
